name: Build

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  build:
    name: Build and release React Recipe
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            substituters = root ${{ github.actor }} https://cache.nixos.org
            sandbox = relaxed
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: |
          nix build --fallback --option sandbox relaxed .#recipe-parser-wasm --json --out-link result
      - run: |
          mkdir dist
          cp -r result/* dist
      - run: cd dist && npm publish --provenance --verbose
