name: Build

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build and release React Recipe
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: |
          nix build --fallback --option sandbox relaxed .#recipe-parser-wasm --json --out-link result
      - run: |
          mkdir dist
          cp -r result/* dist
      - run: nix develop --command bash -c "npm publish ./dist --access public --provenance --verbose"
